services:
  bookminder-plugin-gutenberg:
    container_name: bookminder-plugin-sendtokindle
    build: .
    user: root
    volumes:
      # Data directories
      - ../../bundle_docker/bookminder-data/bookminder-data/global:/opt/data/global
      - ../../bundle_docker/bookminder-data/bookminder-data/user:/opt/data/user
      - ../../bundle_docker/bookminder-data/bookminder-data/meta:/opt/data/meta
      # Plugin config data (JSON files for user settings)
      - ../../bundle_docker/bookminder-data/bookminder-data/sendtokindle:/app/sendtokindle/data
    environment:
      - ALLOWED_ORIGINS="http://localhost:3000,http://localhost:3001"
      - DEBUG=1
      
      - BOOKMINDER_CONTAINER_NAME=bookminder
      - BOOKMINDER_CONTAINER_PORT=3010
      - PLUGIN_CONTAINER_NAME=bookminder-plugin-sendtokindle
      - PLUGIN_CONTAINER_PORT=5000
      - PLUGIN_CONTAINER_HOST=0.0.0.0

      - PUBLIC_UUID=3d092020-aa5c-4824-9bc2-693978c5b0e1
      - PLUGIN_AUTH_TOKEN=93366bbf-40f4-4d50-9a60-456e08dc899d

      - REGISTRATION_INTERVALE=10
      - REGISTRATION_RETRY_INTERVAL=10

    networks:
      - bookminder_network_plugins

networks:
  bookminder_network_plugins:
    name: bookminder_network_plugins
    external: true   