.row-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 0.5rem .5em;
}

.row-card:not(:last-child) {
    margin-bottom: 0.7rem;
}