.main-container {
    width: 100%;
    height: 100%;
}
.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.scroll-container {
    overflow-y: auto;
    height: 100%;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
    padding-top: 5px;
}

.scroll-container-h {
    overflow-x: auto;
    height: 100%;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
    padding-top: 5px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.height-full {
    height: 100%;
}

.space-between {
    justify-content: space-between;
}

.centered-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    align-items: start;
    padding: 1rem;
}

.grid-container.accessibility {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.flex-col {
    display: flex;
    flex-direction: column;
}